# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
.clang-format text
.dir-locals.el text
.gitignore text
CMakeLists.txt text
CPPLINT.cfg text
LICENSE text
README.md text
*.cmake text
*.cpp text
*.h text
*.hpp text
*.png filter=lfs diff=lfs merge=lfs 
*.obj filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs 
*.mtl filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs 
*.OBJ filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs 
*.MTL filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text